{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "embeddedLanguageFormatting": "auto",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "proseWrap": "preserve",
        "printWidth": 100
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
